body {
    background-color:black;
    font-family: arial;
    color: white
}

h1 {
    color:grey;
    font-family: verdana
}

.maindiv {
    background-color: white;
    color: black;
    width: 30%;
    padding: 20px;
    border-radius: 25px;
    margin: auto
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.column {
    flex: left;
}

.left {
    width: 20%;
}



.row:after {
    content: "";
    display: table;
    clear: both;
}